@charset "utf-8";

/* ---------------------------------------- */
html, body {background: #E6E6E6; color: #666666; font-family: 'Titillium Web', sans-serif; font-size: 14px; overflow-x: hidden;}
body       {display: flex; flex-direction: column; min-height: 100vh;}
main       {flex: 1;}
/* ---------------------------------------- */
#page-loader            {background-color: #FFFFFF; bottom: 0; left: 0; position: fixed; right: 0; top: 0; z-index: 9999}
#page-spinner           {animation: spin 0.6s linear infinite; border: 6px solid #DDDDDD; border-radius: 50%; border-bottom: 6px solid #5C2D91; border-top: 6px solid #5C2D91; height: 60px; left: 50%; margin: -30px 0 0 -30px; position: absolute; top: 50%; width: 60px; -webkit-animation: spin 0.6s linear infinite}
@-webkit-keyframes spin {0% {-webkit-transform: rotate(0deg)} 100% {-webkit-transform: rotate(360deg)}}
@keyframes spin         {0% {transform: rotate(0deg)} 100% {transform: rotate(360deg)}}
/* ---------------------------------------- */
a, a:link, a:active, a:visited {text-decoration: none; transition: 0.2s all; -moz-transition: 0.2s all; -o-transition: 0.2s all; -webkit-transition: 0.2s all;}
/* ---------------------------------------- */
a       {color: #5C2D91;}
a:hover {color: #461979;}
/* ---------------------------------------- */
.purple       {color: #5C2D91;}
.form-control {font-size: 14px;}
/* ---------------------------------------- */
.btn                                   {border: none; transition: 0.2s all; -moz-transition: 0.2s all; -o-transition: 0.2s all; -webkit-transition: 0.2s all;}
.btn-primary                           {background-color: #5C2D91;}
.btn-primary:hover, .btn-primary:focus {background-color: #461979;}
.btn-outline-light                     {color: #666666;}
/* ---------------------------------------- */
.navbar {background-color: #FFFFFF; border-bottom: 1px solid #CCCCCC;}
/* ---------------------------------------- */
.navbar .navbar-brand,
.navbar .navbar-brand a,
.navbar .navbar-brand a:hover
{
  color: #5C2D91;
}
.navbar .navbar-brand span {font-size: 20px; font-weight: 600;}
/* ---------------------------------------- */
.navbar-text {color: #5C2D91;}
/* ---------------------------------------- */
.navbar .nav-link                                {color: #999999;}
.navbar .nav-link:hover, .navbar .nav-link:focus {color: #5C2D91;}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus
{
  color: #5C2D91;
}
/* ---------------------------------------- */
.nav-item .nav-link.active {color: #5C2D91;}
/* ---------------------------------------- */
.navbar .navbar-toggler      {border-color: #999999;}
.navbar .navbar-toggler-icon {background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='https://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(153,153,153,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");}
/* ---------------------------------------- */
.dropdown-menu .dropdown-item {color: #999999;}
/* ---------------------------------------- */
section {padding-bottom: 40px; padding-top: 40px;}
thead   {background: #666666; color: #FFFFFF}
/* ---------------------------------------- */
.breadcrumb {background: #FFFFFF; border-bottom: 1px solid #CCCCCC;}
/* ---------------------------------------- */
header    {margin-top: 40px;}
header h1 {color: #5C2D91; border-bottom: 1px dotted #5C2D91; font-size: 20px; font-weight: 600;}
/* ---------------------------------------- */
.fixed-table-container {border: none;}
/* ---------------------------------------- */
.card-header h5 {font-size: 14px;}
.card-spacer    {border-color: #5C2D91; border-style: dotted; margin-bottom: 40px; margin-top: 40px;}
/* ---------------------------------------- */
.subcat-imgs img {border: 1px solid #CED4DA; height: 120px; width: auto;}
.prod-imgs   img {border: 1px solid #CED4DA; height: 60px; width: auto;}
/* ---------------------------------------- */
.note-editor.note-frame {border: 1px solid #CED4DA;}
/* ---------------------------------------- */
footer                   {background: #222222; border-top: 2px solid #5C2D91; color: #666666; font-size: 13px;}
footer .copy             {display: flex; justify-content: left;}
footer .bloomin          {display: flex; justify-content: right;}
footer a, footer a:hover {color: #999999}
/* ---------------------------------------- */
@media (max-width: 991.98px)
{
  footer                        {font-size: 10px;}
  footer .copy, footer .bloomin {justify-content: center;}
}
@media (min-width: 992px)
{
  .navbar-text         {border-right: 1px solid #E5E5E5;}
  .navbar-nav.ml-auto  {border-right: 1px solid #E5E5E5;}
  .nav-item            {border-right: 1px solid #E5E5E5;}
  .nav-item:last-child {border-right: none;}
}


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}